<!DOCTYPE html>
<html lang="en">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Suwilanji Siwale Portfolio</title>
    <link rel="icon" href="./img/favicon.png">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="https://unicons.iconscout.com/release/v4.0.0/css/line.css">
    <link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
</head>
<body oncopy="return false" oncut="return false" onpaste="return false">
    <header class="header headerActive" id="header" >

        <div class="logo-div contentText">
            <a href="#home"><h1 class="logo">Suwi<span>.</span></h1></a>
        </div>

        <div class="navBar" id="nav-Bar">
            <ul class="navList contentText">
                <li class="navItem">
                    <a href="#about" class="navLink"> <span class="number">1.</span> About</a>
                </li>

                <li class="navItem">
                    <a href="#education" class="navLink"> <span class="number">2.</span> Education</a>
                </li>

                <li class="navItem">
                    <a href="#skills" class="navLink"> <span class="number">3.</span> Skills</a>
                </li>
                
                <li class="navItem">
                    <a href="#projects" class="navLink"> <span class="number">4.</span> Projects</a>
                </li>
                <li class="navItem">
                    <a href="/blog/" class="navLink"> <span class="number">4.</span> Blog</a>
                </li>

                <li class="navItem">
                    <a href="#contact" class="navLink"> <span class="number">5.</span> Contact</a>
                </li>
                
                <div class="closeIcon" id="closeIconID">
                    <i class='bx bxs-x-circle icon closeIc'></i>
                </div>
            </ul>

            <div class="resumeDiv">
                <a download="" href="https://drive.google.com/file/d/1WbbC1SAknU9yPd5e5Zrt3hVHWKnnCHFs/view?usp=sharing" class="resumeBtn" >CV</a>
            </div>
        </div>

        

        

        <div class="navToggle" id="toggleId">
            <i class="uil uil-align-center toggleIcon"></i>
        </div>

    </header>

    <!-- <div class="toTopBtn">
        <a href="#contact"><i class="uil uil-angle-double-up toTopIcon"></i></a>
    </div> -->

    <div class=" col leftCol">
    <div class="divIcons">
        <div>
            <a href="https://www.linkedin.com/in/suwilanji-siwale-032a8476/" target="_blank"> <i class="uil uil-linkedin-alt leftColIcon" ></i></a>
        </div>
        <div>
            <a href="https://github.com/suwilanji-siwale" target="_blank"><i class="uil uil-github-alt leftColIcon"></i></a>
            
        </div>
        <div>
            <a href="https://web.facebook.com/suwilanji.siwale.31" target="_blank"> <i class="uil uil-facebook-alt leftColIcon"></i></a>
           
        </div>
        
    </div>
       <div class="divLine">

       </div>
      
    </div>

    <div class=" col rightCol">
        <div class="emailDiv">
            suwilanjisiwale1@gmail.com
            
        </div>
           <div class="rightdivLine">
    
           </div>
    </div>

    <!-- Body Section -->
<div class="bodyContainer">
    <!-- Home section -->
    <section class="home section" id="home">
        <div class="container">
            <div class="content">
   
            <div class="contentText">
               <h6 class="introTxt">Hi, my name is</h6>
   
               <h1 class="name">Suwilanji Siwale.</h1>
   
               <h5 class="subIntro">Marketing Expert, Software Developer, Social Media Manager, Photographer, Graphics Designer & Economist</h5>
   
               <p class="homeP">I love programming especially Mobile Apps Development specializing in Android Development. 
                   Some times you will also find me playing with economic models and social media marketing.</p>
            </div>
   
            <div class="contentBtn">
                <a href="https://drive.google.com/drive/folders/1UqPS7utH89ykYZW3UTgXgFUBn_OdRWay?usp=sharing">Graphic Designs Portfolio <i class="uil uil-message Icon"></i></a>
            </div>
            </div>
            <div class="scrollDiv">
               <i class="uil uil-mouse-alt MouseIcon"></i>
              <a href="https://www.suwilanjisiwale.com/achievements.html"> <h6 class="scroll">Achievements</h6></a>
               <i class="uil uil-angle-double-right icon"></i>
           </div>
   
        </div>
       </section>
   
       <!-- About section -------------------------------------------------->
   
       <section class="about section" id="about">
           <div class="container">
               <div class="content">
                   <div class="sectionTitle">
                      <span class="titleNumber">01 . </span>  
                      <h5 class="titleText">About Me <div class="underline"><span></span></div></h5>
                   </div>
   
                  <div class="grid">
                   <div class="cta">
                       <h4 class="ctaDescription">Am a self taught software developer, solving problems using Technology is what wakes me up everyday, knowing that i could have a huge impact in the world with just a simple laptop computer is truly an amazing feeling. <br> <br> 
                           I am able to work in a team by sharing and receiving progressive ideas to and from team memebers. Am able to work under pressure and i put in the best of my abilities in all assigned tasks.</h4>
                           <div class="aboutBtn">   
                            <a download="" href="https://drive.google.com/file/d/1WbbC1SAknU9yPd5e5Zrt3hVHWKnnCHFs/view?usp=sharing">View CV <i class="uil uil-import downloadIcon"></i></a>
                           </div>
                   </div>
   
                  <div class="lower">
                   <div class="aboutImgDiv">
                       <img src="./img/suwila-min.png" alt="Israel Image" class="aboutImg">
                   </div>  

                   <div class="voiceNote">
                   <audio id="player" src="./Audio/Recording.m4a"></audio>
                   <div class="player">
                       <div class="controls">
                        
                       </div>
                       <div class="audioInfo">
                           <span>Suwilanji Siwale</span>
                           <div class="bar">
                               <div id="progress"></div>
                            </div>
                       </div>
                       <div id="current">
                          
                       </div>
                   </div>
                   </div> 
                  </div>
                  </div>
               </div>
           </div>
       </section>

       <!-- Education Section  -->
   
       <section class="skill section transition2" id="education">
           <div class="container">
               <div class="sectionTitle">
                   <span class="titleNumber">02 .</span>  
                   <h5 class="titleText">My Education <div class="underline"><span></span></div></h5>
                </div>
              
                <div class="skillsContent ">
                    <!-- skill one -->
                <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">The Copperbelt University</h1>
                         <span class="skillSubTotal">2025 - 2026</span>
                     </div>
                     <div class="skillImage">
                         <span class="skillDescription">Master of Science in Marketing</span>
                     </div>
                 </div>
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Information and Communications University</h1>
                         <span class="skillSubTotal">2021 - 2023</span>
                     </div>
                     <div class="skillImage">
                         <span class="skillDescription">Masters in Business Adminstration (MBA)</span>
                     </div>
                 </div>

                 <!-- skill-Two -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Copperbelt University</h1>
                         <span class="skillSubTotal">2015 - 2019</span>
                     </div>
                     <div class="skillImage">
                          <span class="skillDescription">Bachelors Degree in Economics</span>
                     </div>
                 </div>
                 <!-- Skill-Three -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Udacity</h1>
                         <span class="skillSubTotal">2017</span>
                     </div>
                     <div class="skillImage">
                          <span class="skillDescription">Nano Degree in Data Analysis</span>
                         
                     </div>
                 </div>
                 
                 </div>
                 
           </div>
       </section>
   
       <!-- Skills Section  -->
   
       <section class="skill section transition2" id="skills">
           <div class="container">
               <div class="sectionTitle">
                   <span class="titleNumber">03 .</span>  
                   <h5 class="titleText">My Skills <div class="underline"><span></span></div></h5>
                </div>
              
                <div class="skillsContent ">
                    <!-- skill one -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Mobile Apps Development</h1>
                         <span class="skillSubTotal">7 years experience</span>
                     </div>
                     <div class="skillImage">
                         <img src="./img/android_logo.png" alt="" class="skillImageIcon">
                         <img src="./img/java_logo.png" alt="" class="skillImageIcon">
                         <img src="./img/flutter-logo.png" alt="" class="skillImageIcon">
                         
                     </div>
                 </div>

                 <!-- skill-Two -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Graphics Design</h1>
                         <span class="skillSubTotal">4 years experience</span>
                     </div>
                     <div class="skillImage">
                         <img src="./img/adobe-adobe-xd.png" alt="" class="skillImageIcon">
                         <img src="./img/adobe-photoshop.png" alt="" class="skillImageIcon">
                     </div>
                 </div>
                 <!-- Skill-Three -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Frontend Development</h1>
                         <span class="skillSubTotal">2 year experience</span>
                     </div>
                     <div class="skillImage">
                         <img src="./img/html.png" alt="" class="skillImageIcon">
                         <img src="./img/css.png" alt="" class="skillImageIcon">
                         <img src="./img/javascript.png" alt="" class="skillImageIcon">
                         <img src="./img/google.png" alt="" class="skillImageIcon">
                     </div>
                 </div>

                  <!-- Skill-Three -->
                 <div class="skillInfo">
                     <div class="skillInfoHeader">
                         <h1 class="skillTitle">Social Media Management</h1>
                         <span class="skillSubTotal">6 years experience</span>
                     </div>
                     <div class="skillImage">
                         <img src="./img/facebook_logo.png" alt="" class="skillImageIcon">
                         <img src="./img/ins_logo.png" alt="" class="skillImageIcon">
                         <img src="./img/twitter_logo.png" alt="" class="skillImageIcon">
                         <img src="./img/whatsapp_logo.png" alt="" class="skillImageIcon">
                     </div>
                 </div>
                 
                 </div>
                
           </div>
       </section>


       <!-- Social Media Portofolio  ---------------------------------------------------->
   
       <section class=" project section transition2" id="projects">
           <div class="container">
               <div class="sectionTitle">
                   <span class="titleNumber">03 . </span>  
                   <h5 class="titleText">Social Media Management<div class="underline"><span></span></div></h5>
                </div>
   
                <div class="contentHeader">
                
                    <span class="projectDescription">
                       Pages I have managed.
                    </span>
                </div>
   
                <!-- FRONTEND BOXES---------------------------------------------------- -->
                       <div class="boxes ">
                        
                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://web.facebook.com/eclshoppingmall" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://web.facebook.com/eclshoppingmall" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://web.facebook.com/eclshoppingmall" target="_blank"><img src="./projects/ecl_facebook.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   ECL Shopping Mall
                                </h2>
                                <p>ECL Shopping Mall Facebook Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://www.instagram.com/eclshoppingmall" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://www.instagram.com/eclshoppingmall" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://www.instagram.com/eclshoppingmall" target="_blank"><img src="./projects/ecl_instagram.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   ECL Shopping Mall 
                                </h2>
                                <p>ECL Shopping Mall Instagram Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://web.facebook.com/cbmtec" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://web.facebook.com/cbmtec" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://web.facebook.com/cbmtec" target="_blank"><img src="./projects/caminex_facebook.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   CAMINEX
                                </h2>
                                <p>CAMINEX Facebook Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://www.instagram.com/caminex_zambia" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://www.instagram.com/caminex_zambia" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://www.instagram.com/caminex_zambia" target="_blank"><img src="./projects/caminex_instagram.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   CAMINEX
                                </h2>
                                <p>CAMINEX Instagram Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://web.facebook.com/profile.php?id=100065090190695" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://web.facebook.com/profile.php?id=100065090190695" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://web.facebook.com/profile.php?id=100065090190695" target="_blank"><img src="./projects/northwold_facebook.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   NORTHWOLD Investments
                                </h2>
                                <p>NORTHWOLD Investments Facebook Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://www.linkedin.com/company/northwold-investments/" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://www.linkedin.com/company/northwold-investments/" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://www.linkedin.com/company/northwold-investments/" target="_blank"><img src="./projects/northwold_linkedIn.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   NORTHWOLD Investments
                                </h2>
                                <p>NORTHWOLD Investments linkedIn Page</p>
                                
                            </div>
            
                            </div>
            
                           </div>

                           <div class="box">
   
                            <div class="webContent">
            
                            <div class="webContentTop">
                                <div>
                                  
                                    <a href="https://web.facebook.com/yar89dot7fm" class="wrapperLink Indicator" target="_blank" ></a>
                                </div>
                                <a href="https://web.facebook.com/yar89dot7fm" class="live" target="_blank" ><span>Active</span></a>
                                
                            </div>
            
            
                            <div class="contentImg">
                                <a href="https://web.facebook.com/yar89dot7fm" target="_blank"><img src="./projects/yarfm_facebook.png" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   YAR 89.7 FM 
                                </h2>
                                <p>Facebook Page</p>
                                
                            </div>
            
            
                            </div>
            
            
                        </div>

                        <div class="box">

                            <div class="webContent">

                             <div class="webContentTop">
                                 <div>
                                     <a href="https://web.facebook.com/stonecitesltd/" class="wrapperLink Indicator" target="_blank" ></a>
                                 </div>
                                 <a href="https://web.facebook.com/stonecitesltd/" class="live" target="_blank" ><span>Active</span></a>
                          
                             </div>
            
            
                            <div class="contentImg">
                                <a href="https://web.facebook.com/stonecitesltd/" target="_blank"><img src="./projects/stonecites_facebook.png" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                    Stonecites Limited
                                </h2>
                                <p>Facebook Page<p>
                                
                            </div>
            
            
                            </div>
            
            
                        </div>

                        <div class="box">

                            <div class="webContent">

                             <div class="webContentTop">
                                 <div >
                                   
                                     <a href="https://twitter.com/YAR897FM" class="wrapperLink Indicator" target="_blank" ></a>
                                 </div>
                                 <a href="https://twitter.com/YAR897FM" class="live" target="_blank" ><span>Active</span></a>
                                 
                             </div>
            
                           
            
            
                            <div class="contentImg">
                                <a href="https://twitter.com/YAR897FM" target="_blank"><img src="./projects/yarfm_twitter.png" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   YAR 89.7 FM
                                </h2>
                                <p>Twitter Page</p>
                                
                            </div>
            
            
                            </div>
            
            
                        </div>

                        <div class="box">

                         <div class="webContent">
         
                         <div class="webContentTop">
                             <div>
                               
                                 <a href="https://www.instagram.com/yar897fm/" class="wrapperLink Indicator" target="_blank" ></a>
                             </div>
                             <a href="https://www.instagram.com/yar897fm/" class="live" target="_blank" ><span>Active</span></a>
                             
                         </div>
         
         
                         <div class="contentImg">
                             <a href="https://www.instagram.com/yar897fm/" target="_blank"><img src="./projects/yar_instagram.png" class="contentImage"></a>
                         </div>
         
                         <div class="wrapperText">
                             <h2 class="title">
                                YAR 89.7 FM
                             </h2>
                             <p>YAR FM Instagram Page</p>
                             
                         </div>
         
                         </div>
         
                        </div>

                       </div>
                       
                       
           </div>
           
       </section>
   


   
       <!-- PROJECTS SECTION  ---------------------------------------------------->
   
       <section class=" project section" id="projects">
           <div class="container">
               <div class="sectionTitle">
                   <span class="titleNumber">04 . </span>  
                   <h5 class="titleText">Software Projects <div class="underline"><span></span></div></h5>
                </div>
   
                <div class="contentHeader">
                
                    <span class="projectDescription">
                       Some Things I’ve Built
                    </span>
                </div>
   
                <!-- FRONTEND BOXES---------------------------------------------------- -->
                       <div class="boxes ">
                        <div class="box">
   
                            <div class="webContent">

                             <div class="webContentTop">
                                 <div >
                                   
                                     <a href="https://www.stonecitesltd.com/" class="wrapperLink Indicator" target="_blank" ></a>
                                    </div>
                                    <a href="https://www.stonecitesltd.com/" class="live" target="_blank" ><span>LIVE</span></a>
                                    
                                 
                             </div>
            
                           
            
            
                            <div class="contentImg">
                                <a href="https://www.stonecitesltd.com/" target="_blank"><img src="./projects/project_1.png" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                   Stonecites Limited
                                </h2>
                                <p>The company wanted a website to showcase a gallery of products and services. The company deals in granite kitchens, staircases, tombstones and concrete blocks.</p>
                                <div class="software">
                                    <span>Html.</span>        
                                    <span>Boostrap.</span>        
                                    <span>Javascript.</span>        
                                   
                                </div>
                            </div>
            
                            </div>
            
                        </div>

                           <div class="box">
   
                               <div class="webContent">

                                <div class="webContentTop">
                                    <div>
                                        <a href="https://www.chitungufarm.com/" class="wrapperLink Indicator" target="_blank" ></a>
                                    </div>
                                    <a href="https://www.chitungufarm.com/" class="live" target="_blank" ><span>LIVE</span></a>
                             
                                </div>
               
               
                               <div class="contentImg">
                                   <a href="https://www.chitungufarm.com/" target="_blank"><img src="./projects/project-7.png" class="contentImage"></a>
                               </div>
               
                               <div class="wrapperText">
                                   <h2 class="title">
                                       Chitungu Farms
                                   </h2>
                                   <p>Farm website for Chitungu Farms to showcase the farms products and services.</p>
                                   <div class="software">
                                       <span>Html.</span>        
                                       <span>Boostrap.</span>
                                       <span>Javascript.</span>
                                   </div>
                               </div>
               
               
                               </div>
               
               
                           </div>

                           <div class="box">
   
                               <div class="webContent">

                                <div class="webContentTop">
                                    <div>
                                        <a href="https://github.com/suwilanji-siwale/AndroidNotesApp" class="wrapperLink Indicator" target="_blank" ></a>
                                    </div>
                                    <a href="https://github.com/suwilanji-siwale/AndroidNotesApp" class="live" target="_blank" ><span>LIVE</span></a>
                             
                                </div>
               
               
                               <div class="contentImg">
                                   <a href="https://github.com/suwilanji-siwale/AndroidNotesApp" target="_blank"><img src="./projects/project-6.png" class="contentImage"></a>
                               </div>
               
                               <div class="wrapperText">
                                   <h2 class="title">
                                      NOTES ANDROID APP
                                   </h2>
                                   <p>Built my own notes taking app just for fun using Room database.</p>
                                   <div class="software">
                                       <span>Java.</span>        
                                       <span>Android.</span>
                                       
                                   </div>
                               </div>
               
               
                               </div>
               
               
                           </div>
   
                           <div class="box">
   
                               <div class="webContent">
               
                               <div class="webContentTop">
                                   <div>
                                     
                                       <a href="https://play.google.com/store/apps/details?id=com.melborp.yarfmm&hl=en" class="wrapperLink Indicator" target="_blank" ></a>
                                   </div>
                                   <a href="https://play.google.com/store/apps/details?id=com.melborp.yarfmm&hl=en" class="live" target="_blank" ><span>LIVE</span></a>
                                 
                               </div>
               
               
                               <div class="contentImg">
                                   <a href="https://play.google.com/store/apps/details?id=com.melborp.yarfmm&hl=en" target="_blank"><img src="./projects/project_3.png" class="contentImage"></a>
                               </div>
               
                               <div class="wrapperText">
                                   <h2 class="title">
                                     ANDROID APP FOR YAR FM
                                   </h2>
                                   <p>The App allows anyone from any part of the world to listen and stay connected to the Radio station 24/7.</p>
                                   <div class="software">
                                       <span>Java</span>        
                                       <span>Android</span>
                                       
                                   </div>
                               </div>
               
               
                               </div>
               
               
                           </div>


   
                           <div class="box">
   
                               <div class="webContent">

                                <div class="webContentTop">
                                    <div >
                                      
                                        <a href="https://northwoldinv.com" class="wrapperLink Indicator" target="_blank" ></a>
                                    </div>
                                    <a href="https://northwoldinv.com" class="live" target="_blank" ><span>LIVE</span></a>
                                  
                                </div>
               
                              
               
               
                               <div class="contentImg">
                                   <a href="https://northwoldinv.com" target="_blank"><img src="./projects/northwold-web.jpg" class="contentImage"></a>
                               </div>
               
                               <div class="wrapperText">
                                   <h2 class="title">
                                       NORTHWOLD WEBSITE
                                   </h2>
                                   <p>Northwold is a weighing and measurements company.</p>
                                   <div class="software">
                                             
                                       <span>Html.</span>        
                                       <span>Boostrap.</span>
                                       <span>Javascript.</span>
                                   </div>
                               </div>
               
               
                               </div>
               
               
                           </div>

                           <div class="box">
   
                            <div class="webContent">

                             <div class="webContentTop">
                                 <div >
                                   
                                     <a href="https://hypefmzambia.com" class="wrapperLink Indicator" target="_blank" ></a>
                                 </div>
                                 <a href="https://hypefmzambia.com" class="live" target="_blank" ><span>LIVE</span></a>
                               
                             </div>
            
                           
            
            
                            <div class="contentImg">
                                <a href="https://hypefmzambia.com" target="_blank"><img src="./projects/hype-web.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                    HYPE FM WEBSITE
                                </h2>
                                <p>Hype FM is a radio station based in Kitwe.</p>
                                <div class="software">
                                          
                                    <span>Html.</span>        
                                    <span>Boostrap.</span>
                                    <span>Javascript.</span>
                                </div>
                            </div>
            
            
                            </div>
            
            
                        </div>

                        <div class="box">
   
                            <div class="webContent">

                             <div class="webContentTop">
                                 <div >
                                   
                                     <a href="https://www.yarfm.com" class="wrapperLink Indicator" target="_blank" ></a>
                                 </div>
                                 <a href="https://www.yarfm.com" class="live" target="_blank" ><span>LIVE</span></a>
                               
                             </div>
            
                           
            
            
                            <div class="contentImg">
                                <a href="https://www.yarfm.com" target="_blank"><img src="./projects/yar-web.jpg" class="contentImage"></a>
                            </div>
            
                            <div class="wrapperText">
                                <h2 class="title">
                                    YAR FM WEBSITE
                                </h2>
                                <p>YAR FM is a radio station based in Kitwe.</p>
                                <div class="software">
                                          
                                    <span>Html.</span>        
                                    <span>Boostrap.</span>
                                    <span>Javascript.</span>
                                </div>
                            </div>
            
            
                            </div>
            
            
                        </div>
                       </div>

                           
                       
                       <div class="projectFooter">
                           <a href="https://github.com/suwilanji-siwale">SEE MORE</a>
                       </div>
                   
           </div>
           
       </section>
   
       <!-- CONTACT SECTION ------------------------- -->
   
       <section class="section" id="contact">
           <div class="container">
               <div class="sectionTitle">
                   <span class="titleNumber">05 . </span>  
                   <h5 class="titleText">Contact Me <div class="underline"><span></span></div></h5>
                </div>
           </div>
   
           <div class="contactContent grid">
               <div class="contactTop">
                   <div>
                           <i class="uil uil-incoming-call contactIcon"></i>
                           <span>
                               <h2 class="contactTitle">Call Me</h2>
                               <span class="contactDesc">
                                   +260963780239
                               </span>
                           </span>
       
                   </div>
   
                   <div>
                       <i class="uil uil-envelope-download contactIcon"></i>   
                       <span>
                           <h2 class="contactTitle">Email </h2>
                           <span class="contactDesc">
                              suwilanjisiwale1@gmail.com
                           </span>
                       </span>
                   </div>
   
                   <div>
                       <i class="uil uil-map-marker contactIcon"></i>   
                       <span>
                           <h2 class="contactTitle">Location </h2>
                           <span class="contactDesc">
                              Zambia
                           </span>
                       </span>
                   </div>
   
               </div>
   
               <form action="" method="" id="contactForm">
                  <div class="formTop">
                      <span class="field">
                       <label for="name">Full Name</label>
                       <input type="text" id="name" required name="Full Name">
                       <input type="hidden" name="_subject" value="Portifolio Message!">
                      </span>
   
                      <span class="field">
                       <label for="email">Email</label>
                       <input type="email" id="email" name="Email" required>
                       <input type="hidden" name="_next" value="https://suwilanjisiwale.com/thankyou.html">
                       <input type="hidden" name="_captcha" value="true">
                      </span>
                   </div>   
   
                      
                       
                       <textarea name="Message" id="message" cols="30" rows="10" required placeholder="Your Message"></textarea>
                      
                 <button type="submit">Send <i class="uil uil-message "></i></button>
               </form>
   
           </div>
           
       </section>

       <div class="mobileIcons">
        <div>
            <a href="https://www.linkedin.com/in/suwilanji-siwale-032a8476/" target="_blank"> <i class="uil uil-linkedin-alt leftColIcon" ></i></a>

        </div>
        <div>
            <a href="https://github.com/suwilanji-siwale" target="_blank"><i class="uil uil-github-alt leftColIcon"></i></a>
            
        </div>
        <div>
            <a href="https://web.facebook.com/suwilanji.siwale.31" target="_blank"> <i class="uil uil-facebook-alt leftColIcon"></i></a>
           
        </div>
       </div>
   
       <!-- FOOTER SECTION ------------------------------------------>
       <section class="section">
           <div class="footer transition2">
               <span>© 2025 Suwilanji. All Rights Reserved</span>
           </div>
       </section>
</div>




<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/gsap.min.js" integrity="sha512-H6cPm97FAsgIKmlBA4s774vqoN24V5gSQL4yBTDOY2su2DeXZVhQPxFK4P6GPdnZqM9fg1G3cMv5wD7e6cFLZQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/3.9.1/ScrollTrigger.min.js" integrity="sha512-5efjkDjhldlK+BrHauVYJpbjKrtNemLZksZWxd6Wdxvm06dceqWGLLNjZywOkvW7BF032ktHRMUOarbK9d60bg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script src="./main.js"></script>

<script >
  gsap.registerPlugin(ScrollTrigger);
  var t1 = gsap.timeline();

  t1.from('.contentText', {
    y: '-30%',
    opacity: 0,
    duration: 2,
    ease: Power4.easeOut
  })

  t1.from('.stagger1', {
     y: '-50',
    opacity: 0,
    duration: 2,
    ease: Power4.easeOut,
    stagger: .3
  }, "-=1.5")
  t1.from('.hero-design', {
    opacity: 0, y: 50, ease: Power4.easeOut, duration: 1
  }, "-=2")

 gsap.from(".transition3", {
    ScrollTrigger: {
      trigger: ".transition3",
      start: "top center"
    },
    y: 50,
    opacity: 0,
    duration: 1.2,
    stagger: .3
  })

  gsap.from(".transition2", {
    ScrollTrigger: {
      trigger: ".transition2",
      start: "top bottom"
    },
    y: 50,
    opacity: 0,
    duration: 1.2,
    stagger: .3
  });

</script>
    <script src="./main.js"></script>
</body>

</html>
